{% extends '../base.html' %}

{% block title %}Publicaciones | Mi Blog Personal{% endblock %}

{% block content %}
    <h1>Publicaciones</h1>

    <div class="main-contenido">
    {% for post in posts %}
        <article>
            <h2><a href="{% url 'posts:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.description }}</p>
            <p>Author: {{ post.author.username }}</p>
        </article>
    {% empty %}
        <p>No hay publicaciones disponibles.</p>
    {% endfor %}
    </div>
{% endblock %}